<header class="text-center my-5">
    

    <h1>
        <h3 class="container d-flex my-5" href="https://fontmeme.com/es/fuente-de-super-mario/"><img src="https://fontmeme.com/permalink/240514/b0b08f21316bba31d467e12d2fe3aff8.png" alt="fuente-de-super-mario" border="0"></h3>
    </h1>
    <h2 class="container">
        <span>SERIE DEL JUEGO / PERSONAJES</span>

    </h2>
</header>
<main class="container d-flex flex-wrap justify-content-center gap-3">
    @for(elemento of todosLosDatos; track elemento.id){
        <div class="card text-center mb-3" style="width: 18rem;">
            <img src="{{elemento.image}}" class="card-img-top" height="350rem" alt="foto de {{elemento.name}}">
            <div class="card-body">
                <h4 class="card-title">{{elemento.name}}</h4>
                <span>PERSONAJE: {{elemento.character}}</span>
            </div>
        </div>
    }
</main>

<footer class="text-center my-5 container">
    <span>&copy; 2024 AMIIBO SUPER MARIO SERIES</span>
</footer>



<!-- <router-outlet></router-outlet> -->
